{% extends 'base.html.twig' %}

{% block title %}Hello ClientMessageController!{% endblock %}
{% block content %}

<div id="app">

</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    <script>
        window.user = {{ app.user|jsonld }}
        console.log({{ app.user|jsonld }})

    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vue/chat.css') }}">
    {{ encore_entry_link_tags('app') }}
{% endblock %}
