{% extends 'Admin_base.html.twig' %}

{% block title %}DetailsDefi index{% endblock %}

{% block content %}
    <h1>DetailsDefi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>scoreFinale</th>

                <th> Equipe A</th>
                <th> Equipe B</th>
                <th> Defi</th>
                <th> Date </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for details_defi in details_defis %}
            <tr>
                <td>{{ details_defi.idStatistique }}</td>
                <td>{{ details_defi.scoreFinale }}</td>

                <td> {{ details_defi.equipea }} </td>
                <td>{{ details_defi.equipeb}}</td>
                <td> {{ details_defi.idDefi }}</td>
                <td> {{ details_defi.date |date('d-m-Y H:i:s')}}</td>

                <td>
                    <a href="{{ path('app_admin_match_show', {'idStatistique': details_defi.idStatistique}) }}" class="btn btn-outline-info">show</a>
                    <a href="{{ path('app_admin_match_edit', {'idStatistique': details_defi.idStatistique}) }}" class="btn btn-outline-dark">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_match_new') }}" class="btn btn-outline-success">Create new</a>
{% endblock %}
