{% extends 'Admin_base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block content %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdImage</th>
                <th>UrlImage</th>
                <th>idJeu</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.idImage }}</td>
                <td>{{ image.urlImage }}</td>
                <td>   {{ image.idJeu }}</td>
                <td>
                    <a href="{{ path('app_admin_image_show', {'idImage': image.idImage}) }}">show</a>
                    <a href="{{ path('app_admin_image_edit', {'idImage': image.idImage}) }}">edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_image_new') }}">Create new</a>
{% endblock %}
