{{ form_start(form, {
    attr:{
        'novalidate':'novalidate'
    }
}) }}
    {{ form_row(form.nomDefi) }}
    {{ form_row(form.descriptionDefi ,{
        attr:{
            'maxlength':'50'
        }
    })   }}
    {{ form_row(form.imgDefi )}}
    {{ form_row(form.prixDefi) }}
    {{ form_row(form.nbrEquipeDefi) }}
    {{ form_row(form.regleDefi) }}
    {{ form_row(form.recompenseDefi) }}
    {{ form_row(form.jeuDefi) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
