{% extends 'Admin_base.html.twig' %}

{% block title %}Defi{% endblock %}

{% block content %}
    <h1>Defi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdDefi</th>
                <td>{{ defi.idDefi }}</td>
            </tr>
            <tr>
                <th>NomDefi</th>
                <td>{{ defi.nomDefi }}</td>
            </tr>
            <tr>
                <th>DescriptionDefi</th>
                <td>{{ defi.descriptionDefi }}</td>
            </tr>
            <tr>
                <th>ImgDefi</th>
                <td><img src="{{ asset('uploads/defi/')~defi.imgDefi}}"></td>
            </tr>
            <tr>
                <th>PrixDefi</th>
                <td>{{ defi.prixDefi }}</td>
            </tr>
            <tr>
                <th>DateDefi</th>
                <td>{{ defi.dateDefi ? defi.dateDefi|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbrEquipeDefi</th>
                <td>{{ defi.nbrEquipeDefi }}</td>
            </tr>
            <tr>
                <th>RegleDefi</th>
                <td>{{ defi.regleDefi }}</td>
            </tr>
            <tr>
                <th>RecompenseDefi</th>
                <td>{{ defi.recompenseDefi }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_defi_index') }}">Retourner a la  list</a>

    <a href="{{ path('app_admin_defi_edit', {'idDefi': defi.idDefi}) }}">edit</a>

    {{ include('admin_defi/_delete_form.html.twig') }}
{% endblock %}
