{% extends 'base.html.twig' %}
{%  block content %}
    <div class="nk-main">

        <!-- START: Breadcrumbs -->
        <div class="nk-gap-1"></div>
        <div class="container">
            <ul class="nk-breadcrumbs">


                <li><a href="index.html" >Home</a></li>


                <li><span class="fa fa-angle-right"></span></li>


                <li><a href="{{ path('app_client_defi_all') }}" >Defi</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><span >{{ defi.nomDefi }} </span></li>

            </ul>
        </div>
        <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-8">
                <div class="nk-store-product">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <!-- START: Product Photos -->
                            <div class="nk-popup-gallery">
                                <div class="nk-gallery-item-box">
                                    <a href="{{ asset('uploads/defi/')~defi.imgDefi}}" class="nk-gallery-item" data-size="1200x554">
                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                        <img src="{{ asset('uploads/defi/')~defi.imgDefi}}" alt="">
                                    </a>
                                </div>

                                <div class="nk-gap-1"></div>

                            </div>
                            <!-- END: Product Photos -->
                        </div>
                        <div class="col-md-6">

                            <h2 class="nk-product-title h3">{{ defi.nomDefi}} </h2>



                            <div class="nk-product-description">
                                <p>{{ defi.descriptionDefi }}</p>
                            </div>

                            <!-- START: Add to Cart -->
                            <div class="nk-gap-2"></div>
                            <form action="#" class="nk-product-addtocart">
                                <div class="nk-product-price">€ {{ defi.prixDefi }}</div>
                                <div class="nk-gap-1"></div>
                                <div class="input-group">
                                    <input type="number" class="form-control" value="1" min="1" max="21">
                                    <button class="nk-btn nk-btn-rounded nk-btn-color-main-1">Add to Cart</button>
                                </div>
                            </form>
                            <div class="nk-gap-3"></div>
                            <!-- END: Add to Cart -->

                            <!-- START: Meta -->

                            <!-- END: Meta -->
                        </div>
                    </div>

                    <!-- START: Share -->
                    <div class="nk-gap-2"></div>
                    <div class="nk-post-share">
                        <span class="h5">Share Product:</span>
                        <ul class="nk-social-links-2">
                            <li><span class="nk-social-facebook" title="Share page on Facebook" data-share="facebook"><span class="fab fa-facebook"></span></span></li>
                            <li><span class="nk-social-google-plus" title="Share page on Google+" data-share="google-plus"><span class="fab fa-google-plus"></span></span></li>
                            <li><span class="nk-social-twitter" title="Share page on Twitter" data-share="twitter"><span class="fab fa-twitter"></span></span></li>
                            <li><span class="nk-social-pinterest" title="Share page on Pinterest" data-share="pinterest"><span class="fab fa-pinterest-p"></span></span></li>
                        </ul>
                    </div>
                    <!-- END: Share -->

                    <div class="nk-gap-2"></div>
                    <!-- START: Tabs -->
                    <div class="nk-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-description" role="tab" data-toggle="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-reviews" role="tab" data-toggle="tab">Reviews ({{total}})</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <!-- START: Tab Description -->
                            <div role="tabpanel" class="tab-pane fade show active" id="tab-description">
                                <div class="nk-gap"></div>
                                <strong class="text-white">Release Date: 24/05/2018</strong>
                                <div class="nk-gap"></div>
                                <p>{{ defi.descriptionDefi }}</p>


                            </div>
                            <!-- END: Tab Description -->

                            <!-- START: Tab Reviews -->
                            <div role="tabpanel" class="tab-pane fade" id="tab-reviews">
                                <div class="nk-gap-2"></div>
                                <!-- START: Reply -->
                                <h3 class="h4">Add a Review</h3>
                                <div class="nk-reply">

                                        {{ form_start(formA,  { 'attr': { 'class': 'nk-form',  'novalidate':'novalidate' } } ) }}
                                        <div class="row vertical-gap sm-gap">

                                            <div class="col-sm-6">
                                                {{form_widget(formA.idDefi,{'attr':{'class':'form-control ','name':'country','id':'country-sel','hidden':true}}) }}
                                                    <br>
                                                {{form_widget(formA.idUser,{'attr':{'class':'form-control ','name':'country','id':'country-sel','hidden':true}}) }}
                                            </div>
                                        </div>
                                        <div class="nk-gap-1"></div>

                                         {{form_widget(formA.message,{'attr':{'class':'form-control required','name':'message','placeholder':'Your Review *', 'aria-required':true}}) }}
                                    <div class="nk-gap-1"></div>

                                        <div class="nk-rating">
                                            <input type="radio" id="review-rate-5" name="review-rate" value="5">
                                            <label for="review-rate-5">
                                                <span><i class="far fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </label>

                                            <input type="radio" id="review-rate-4" name="review-rate" value="4">
                                            <label for="review-rate-4">
                                                <span><i class="far fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </label>

                                            <input type="radio" id="review-rate-3" name="review-rate" value="3">
                                            <label for="review-rate-3">
                                                <span><i class="far fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </label>

                                            <input type="radio" id="review-rate-2" name="review-rate" value="2">
                                            <label for="review-rate-2">
                                                <span><i class="far fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </label>

                                            <input type="radio" id="review-rate-1" name="review-rate" value="1">
                                            <label for="review-rate-1">
                                                <span><i class="far fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                           </label>
                                        <script>
                                            $(document).ready(function() {
                                                    $('button').click(function() {
                                                        var value = $("input[type=radio][name=review-rate]:checked").val();
                                                        if (value) {
                                                            document.getElementById("review_rating").value = value

                                                        }

                                                    })
                                                    });
                                        </script>
                                        </div>
                                    {{form_widget(formA.rating,{'attr':{'hidden':true}})}}
                                        <button class="nk-btn nk-btn-rounded nk-btn-color-dark-3 float-right" >{{ button_label|default('Submit') }}</button>
                                    {{ form_end(formA) }}
                                </div>
                                <!-- END: Reply -->

                                <div class="clearfix"></div>
                                <div class="nk-gap-2"></div>
                                {% for rev in revList %}
                                <div class="nk-comments">
                                    <!-- START: Review -->
                                        <div class="nk-comment">
                                        <div class="nk-comment-meta">

                                            <img src="{{  asset('uploads/user/')~rev.idUser.image}}" alt="{{ rev.idUser.username }}" class="rounded-circle" width="35"> by <a href="#">{{ rev.idUser.username }}

                                        </a> {{ rev.date|date('d-m-Y H:i:s') }}

                                            <div class="nk-review-rating">

                                                {% if rev.idUser.idUser == user.idUser %}

                                                    <form method="post" action="{{ path('app_client_review_delete',{'id': rev.id })}}" onsubmit="post();return false;">
                                                        <i class="fa fa-cog fa-spin fa-1x fa-fw" style="color:#09a195 ; "></i>
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rev.id) }}">
                                                        <button class="btn" style="background-color: Transparent;" ><i class="fa fa-trash fa-1x" style="color:#EE5757 ; "></i>
                                                        </button>
                                                    </form>


                                                {% endif %}

                                                <br>
                                                {% for i in 0..rev.rating-1 %}
                                                    <div hidden>* {{i}}</div> <i class="fa fa-star" style="color:#09a195 ;"></i>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="nk-comment-text">
                                            <p>{{ rev.message }}</p>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                            </div>
                            <!-- END: Tab Reviews -->

                        </div>
                    </div>
                    <!-- END: Tabs -->
                </div>

                <!-- START: Related Products -->
                <div class="nk-gap-3"></div>
                <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Related</span> Products</span></h3>
                <div class="nk-gap"></div>
                <div class="row vertical-gap">

                    {% for d in defis %}
                    <div class="col-md-6">
                        <div class="nk-product-cat">
                            <a class="nk-product-image" href="">
                                <img src="{{ asset('/uploads/defi/')~ d.imgDefi}}" alt="{{ d.nomDefi }}">
                            </a>
                            <div class="nk-product-cont">
                                <h3 class="nk-product-title h5"><a href="store-product.html">{{ d.nomDefi }} </a></h3>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-rating" data-rating="3">
                                    {% for i in  0..render(controller('App\\Controller\\ClientDefiController::Stat', {'a': d.idDefi } )) %}
                                   {% if i in -1..0  %}
                                       <p hidden> no rating yet </p>
                                   {%else%}
                                    <div hidden>* {{ i}}</div>
                                    <i class="fa fa-star"></i>
                                    {% endif%}
                                   {% endfor %}
                                </div>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-price">€ {{ defi.prixDefi }}</div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}




                </div>
                <!-- END: Related Products -->
            </div>
            <div class="col-lg-4">
                <!--
                    START: Sidebar

                    Additional Classes:
                        .nk-sidebar-left
                        .nk-sidebar-right
                        .nk-sidebar-sticky
                -->
                <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                    <div class="nk-widget">
                        <div class="nk-widget-content">
                            <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type something...">
                                    <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Price</span> Filter</span></h4>
                        <div class="nk-widget-content">
                            <div class="nk-input-slider">
                                <input
                                        type="text"
                                        name="price-filter"
                                        data-slider-min="0"
                                        data-slider-max="1800"
                                        data-slider-step="1"
                                        data-slider-value="[200, 1200]"
                                        data-slider-tooltip="hide"
                                >
                                <div class="nk-gap"></div>
                                <div>
                                    <div class="text-white mt-4 float-left">
                                        PRICE:
                                        <strong class="text-main-1">€ <span class="nk-input-slider-value-0"></span></strong>
                                        -
                                        <strong class="text-main-1">€ <span class="nk-input-slider-value-1"></span></strong>
                                    </div>
                                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white float-right">Apply</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">We</span> Are Social</span></h4>
                        <div class="nk-widget-content">
                            <!--
                                Social Links 3

                                Additional Classes:
                                    .nk-social-links-cols-5
                                    .nk-social-links-cols-4
                                    .nk-social-links-cols-3
                                    .nk-social-links-cols-2
                            -->
                            <ul class="nk-social-links-3 nk-social-links-cols-4">
                                <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                                <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                                <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                                <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
                                <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>

                                <!-- Additional Social Buttons
                                    <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                                    <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                                    <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                                    <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                                    <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                                    <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                                    <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                                    <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                                    <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                                    <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                                    <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                                    <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                                    <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                                    <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                                    <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                                    <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                                    <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                                    <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                                    <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                                    <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                                    <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                                -->
                            </ul>
                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Most</span> Popular</span></h4>
                        <div class="nk-widget-content">
                            {% for lt in lts %}
                            <div class="nk-widget-post">
                                <a href="" class="nk-post-image">
                                    <img src="{{ asset('/uploads/defi/')~ lt.imgDefi}}" alt="So saying he unbuckled">
                                </a>
                                <h3 class="nk-post-title"><a href="">{{ lt.nomDefi }}</a></h3>
                                <div class="nk-product-rating" data-rating="4"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i></div>
                                <div class="nk-product-price">€ {{ lt.prixDefi }}</div>
                            </div>
                            {% endfor %}




                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span>Instagram</span></h4>
                        <div class="nk-widget-content">
                            <div class="nk-instagram row sm-gap vertical-gap multi-column"></div>
                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span>Our Twitter</span></h4>
                        <div class="nk-widget-content">
                            <div class="nk-twitter-list" data-twitter-count="2"></div>
                        </div>
                    </div>

                </aside>
                <!-- END: Sidebar -->
            </div>
        </div>
    </div>
    <div class="nk-gap-2"></div>

{% endblock %}