{% extends 'base.html.twig' %}
{%  block content %}

    <!-- END: Categories -->
    <div class="container">
        <br>
        <div class="float-right">
            <a href="{{ path('app_client_get_ligne_commande') }}" class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </a>
        </div>
        {% for msg in app.session.flashBag.get('success') %}
            <div class="col-lg-8 alert alert-success">
                le Defi <strong>{{ msg }}</strong> est ajouté au panier
            </div>
        {% endfor %}
        <br>
    <!-- START: Some Products -->
    <div class="nk-gap-2"></div>
    <div class="row vertical-gap">

        {% for defi in LastThree %}
        <div class="col-md-6 col-lg-4">

            <div class="nk-gallery-item-box">

                <a href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}" class="nk-gallery-item">
                    <span class="nk-gallery-item-overlay"><span><span class="nk-icon-circles"></span></span></span>
                    <img src="{{asset('/uploads/defi/')~ defi.imgDefi }}" alt="{{ defi.nomDefi }}">
                </a>
                <div class="nk-gallery-item-label">
                    <h4 class="mb-0" style="color: #e0e4e7">{{ defi.nomDefi }}</h4>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
    </div>
    <!-- END: Some Products -->

    <!-- START: Top 10 Best Sellers -->
    <div class="nk-gap-3"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Top 10</span> Best Sellers</span></h3>
    <div class="nk-gap"></div>

    <div class="nk-carousel nk-carousel-x4" data-autoplay="5000" data-dots="false" data-cell-align="left" data-arrows="true">

        <div class="nk-carousel-inner">
            {% for defi in defis %}

            <div><div class="pl-5 pr-5">

                    <div class="nk-product-cat-3">

                        <a class="nk-product-image" href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}">
                            <img src="{{asset('/uploads/defi/')~ defi.imgDefi }}" alt="So saying he unbuckled">
                        </a>
                        <div class="nk-product-cont">
                            <div class="nk-gap-1"></div>
                            <h3 class="nk-product-title h5"><a href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}">{{ defi.nomDefi }}</a></h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ {{ defi.prixDefi }}</div>
                        </div>

                    </div>

                </div>
            </div>


            {% endfor %}

        </div>

    </div>

    <!-- END: Top 10 Best Sellers -->

    <!-- START: Featured Games -->
    <div class="nk-gap-3"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Featured</span> defi</span></h3>
    <div class="nk-gap"></div>
    <div class="row vertical-gap">

{%  for defi in defis  %}
        <div class="col-lg-6">
            <div class="nk-product-cat-2">
                <a class="nk-product-image" href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}">
                    <img src="{{ asset('/uploads/defi/')~ defi.imgDefi}}" alt="With what mingled joy">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}">{{ defi.nomDefi }}y</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-rating" data-rating="3.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i> <i class="far fa-star"></i></div>
                    <div class="nk-gap-1"></div>
                    {{ defi.descriptionDefi }}
                    <div class="nk-gap-2"></div>
                    <div class="nk-product-price">€ {{ defi.prixDefi }}</div>
                    <div class="nk-gap-1"></div>
                    <a href="{{ path('app_client_add_ligne_commande', {'id': defi.idDefi}) }}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                </div>
            </div>
        </div>

{% endfor %}


    </div>
    <!-- END: Featured Games -->

    <!-- START: Most Popular -->
    <div class="nk-gap-3"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Most</span> Popular</span></h3>
    <div class="nk-gap"></div>
    <div class="row vertical-gap">

    {% for defi in defis %}
        <div class="col-lg-4 col-md-6">
            <div class="nk-product-cat">
                <a class="nk-product-image" href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}">
                    <img src="{{ asset('/uploads/defi/')~ defi.imgDefi}}" alt="She gave my mother">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}">{{ defi.nomDefi }}</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-rating" data-rating="3"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-price">€ {{ defi.prixDefi }}</div>
                </div>
            </div>
        </div>

{% endfor %}


    </div>
    <!-- END: Most Popular -->


    <div class="nk-gap-2"></div>

{% endblock %}
