{% extends 'Admin_base.html.twig' %}

{% block title %}SousCategorie index{% endblock %}

{% block content %}
    <h1>SousCategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdSouscat</th>
                <th>NomSouscat</th>
                <th>IdCat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_categorie in sous_categories %}
            <tr>
                <td>{{ sous_categorie.idSouscat }}</td>
                <td>{{ sous_categorie.nomSouscat }}</td>
                <td>{{ sous_categorie.idCat }}</td>
                <td>
                    <a href="{{ path('app_admin_sous_categorie_show', {'idSouscat': sous_categorie.idSouscat}) }}">show</a>
                    <a href="{{ path('app_admin_sous_categorie_edit', {'idSouscat': sous_categorie.idSouscat}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_sous_categorie_new') }}">Create new</a>
{% endblock %}
