{% extends 'base.html.twig' %}
{% block content %}

    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="index.html">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><a href="store.html">Teams</a></li>

            <li><span class="fa fa-angle-right"></span></li>

            <li><span>Add new Team</span></li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->




    <div class="container">

        <div class="nk-store nk-store-checkout">
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Team</span> Details</span></h3>

            <!-- START: Billing Details -->
            <div class="nk-gap"></div>
            {{ form_start(formA,  { 'attr': { 'class': 'demo-nk-form', 'data-parsley-validate': null } } ) }}

            <div class="row vertical-gap">
                <div class="col-lg-6">
                    <div class="row vertical-gap">
                        <div class="col-sm-6">
                            <label for="fname">Nom du joueur  <span class="text-main-1">*</span>:</label>

                            {{ form_widget(formA.nomJoueur,{'attr':{'class':'form-control','name':'fname','id':'fname'}}) }}
                            <label for="fname">Telephone  <span class="text-main-1">*</span>:</label>

                            {{ form_widget(formA.tel,{'attr':{'class':'form-control','name':'fname','id':'fname'}}) }}
                        </div>


                    </div>


                    <div class="nk-gap-1"></div>

                </div>
                <div class="col-lg-6">
                    <label for="address">Equipe  <span class="text-main-1">*</span>:</label>

                    {{form_widget(formA.idEquipe,{'attr':{'class':'form-control ','name':'country','id':'country-sel'}}) }}
                    {{form_widget(formA.idUser,{'attr':{'class':'form-control ','name':'country','id':'country-sel','hidden':true}}) }}
                    <div class="nk-gap-1"></div>
                    <div class="nk-gap-1"></div>
                    <label for="city">Rang du Joueur <span class="text-main-1">*</span>:</label>

                    {{ form_widget(formA.rangJoueur,{'attr':{'class':'form-control ','name':'city','id':'city'}}) }}
                    <div class="nk-gap-1"></div>
                    <label for="city">Pseaudo<span class="text-main-1">*</span>:</label>

                    {{ form_widget(formA.pseaudoJoueur,{'attr':{'class':'form-control ','name':'city','id':'city'}}) }}
                    <div class="nk-gap-1"></div>
                </div>
            </div>


            <div class="nk-gap-3"></div>
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">ADD</span> Team</span></h3>
            <div class="nk-gap"></div>

            <!-- END: Order Products -->

            <div class="nk-gap-2"></div>
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1">{{ button_label|default('Save') }}</button>
        </div>
    </div> {{ form_end(formA) }}
    <div class="nk-gap-2"></div>
{% endblock %}