{% extends 'base.html.twig' %}
{% block content %}
    <div class="nk-main">

        <!-- START: Breadcrumbs -->
        <div class="nk-gap-1"></div>
        <div class="container">
            <ul class="nk-breadcrumbs">


                <li><a href="index.html">Home</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><a href="tournaments.html">Tournaments</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><a href="tournaments-teams.html">Teams</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><span>{{ joueur.nomJoueur }}</span></li>

            </ul>
        </div>
        <div class="nk-gap-1"></div>
        <!-- END: Breadcrumbs -->




        <div class="container">
            <div class="row vertical-gap">
                <div class="col-lg-8">

                    <!-- START: Teammate Card -->
                    <div class="nk-teammate-card">
                        <div class="nk-teammate-card-photo">
                            <img src="{{ asset('uploads/user/')~joueur.idUser.image}}" height="250px"  width="250px" alt="Faker">
                        </div>

                        <div class="nk-teammate-card-info">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <img src="{{ asset('uploads/equipe/')~joueur.idEquipe.logoEquipe }}" height="60px" width="60px" alt="">
                                    <br> <strong class="h5" style="color: #09a195">{{ joueur.idEquipe.nomEquipe }}</strong>
                                    </td>

                                    <td>

                                        <table>
                                            <tbody>
                                            <tr>
                                                <td><strong class="h5" style="color: #09a195">Name:</strong>&nbsp;&nbsp;&nbsp;</td>
                                                <td><strong class="h5" style="color: #e0e4e7">{{ joueur.nomJoueur }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td><strong class="h5" style="color: #09a195">Nickname:</strong>&nbsp;&nbsp;&nbsp;</td>
                                                <td><strong class="h5" style="color: #e0e4e7">{{ joueur.pseaudoJoueur }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td><strong class="h5" style="color: #09a195">Rank:</strong>&nbsp;&nbsp;&nbsp;</td>
                                                <td><strong class="h5" style="color: #e0e4e7">{{ joueur.rangJoueur }}</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <strong class="h5" style="color: #09a195">Game</strong>
                                        <div style="color: #e0e4e7">{{ joueur.idEquipe.jeuV.nom}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <strong class="h5" style="color: #09a195">Url To Game</strong>
                                        <div  style="color: #e0e4e7">{{ joueur.idEquipe.jeuV.url}}</div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="nk-gap-3"></div>
                    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Latest</span> Matches</span></h3>
                    <div class="nk-gap"></div>
                    {% for match in matchs %}
                    <div class="nk-match">
                        <div class="nk-match-team-left">
                            <a href="#">
                        <span class="nk-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~match.equipea.logoEquipe}} "  width="100px" height="100px" alt="">
                        </span>
                                <span class="nk-match-team-name">
                            {{ match.equipea }}
                        </span>
                            </a>
                        </div>
                        <div class="nk-match-status">
                            <a href="#">
                                <span class="nk-match-status-vs">VS</span>
                                <span class="nk-match-status-date">{{ match.date|date('d-m-Y H:i:s') }}</span>
                                <span class="nk-match-score bg-danger">{{ match.scoreFinale }}</span>
                            </a>
                        </div>
                        <div class="nk-match-team-right">
                            <a href="#">
                        <span class="nk-match-team-name">
                           {{ match.equipeb }}
                        </span>
                                <span class="nk-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~match.equipeb.logoEquipe}} " width="100px" height="100px" alt="">
                        </span>
                            </a>
                        </div>

                    </div>

                    {% endfor %}
                    <!-- END: Upcoming Matches -->

                </div>
                <div class="col-lg-4">

                    -->
                    <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                        <div class="nk-widget">
                            <div class="nk-widget-content">
                                <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Type something...">
                                        <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="nk-widget nk-widget-highlighted">
                            <h4 class="nk-widget-title"><span><span class="text-main-1">We</span> Are Social</span></h4>
                            <div class="nk-widget-content">
                                <!--
                                    Social Links 3

                                    Additional Classes:
                                        .nk-social-links-cols-5
                                        .nk-social-links-cols-4
                                        .nk-social-links-cols-3
                                        .nk-social-links-cols-2
                                -->
                                <ul class="nk-social-links-3 nk-social-links-cols-4">
                                    <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                                    <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                                    <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                                    <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                                    <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
                                    <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>

                                    <!-- Additional Social Buttons
                                        <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                                        <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                                        <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                                        <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                                        <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                                        <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                                        <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                                        <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                                        <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                                        <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                                        <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                                        <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                                        <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                                        <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                                        <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                                        <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                                        <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                                        <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                                        <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                                        <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                                        <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                                    -->
                                </ul>
                            </div>
                        </div>
                        <div class="nk-widget nk-widget-highlighted">
                            <h4 class="nk-widget-title"><span><span class="text-main-1">Next</span> Matches</span></h4>
                            <div class="nk-widget-content">
                                {%  for i in ups %}
                                    <div class="nk-widget-match">
                                        <a href="#">
                <span class="nk-widget-match-left">
                    <span class="nk-widget-match-teams">
                        <span class="nk-widget-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~i.equipea.logoEquipe}}" alt="">
                        </span>
                        <span class="nk-widget-match-vs">VS</span>
                        <span class="nk-widget-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~i.equipeb.logoEquipe}}" alt="">
                        </span>
                    </span>
                    <span class="nk-widget-match-date">{{ i.idDefi }} - {{ i.date|date('d-m-Y H:i:s') }}</span>

                </span>
                                            <span class="nk-widget-match-right">
                    <span class="nk-match-score">
                        Upcoming
                    </span>
                </span>
                                        </a>
                                        <div class="nk-countdown nk-countdown-center" data-end="{{ i.date |date('Y-m-d H:i')}}" data-timezone="WEST"></div>
                                    </div>
                                {% endfor %}
                                {% for l in live %}
                                    <div class="nk-widget-match">
                                        <a href="#">
                <span class="nk-widget-match-left">
                    <span class="nk-widget-match-teams">
                        <span class="nk-widget-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~l.equipea.logoEquipe }}" alt="">
                        </span>
                        <span class="nk-widget-match-vs">VS</span>
                        <span class="nk-widget-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~l.equipeb.logoEquipe }}" alt="">
                        </span>
                    </span>
                    <span class="nk-widget-match-date">{{ l.idDefi}} - {{ l.date|date('d-m-Y H:i:s') }}</span>
                </span>
                                            <span class="nk-widget-match-right">
                    <span class="nk-match-score bg-dark-1">
                        {{ l.scoreFinale }}
                    </span>
                </span>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="nk-widget nk-widget-highlighted">
                            <h4 class="nk-widget-title"><span><span class="text-main-1">Top 3</span> Recent</span></h4>
                            <div class="nk-widget-content">
                                {% for defi in defis %}
                                    <div class="nk-widget-post">
                                        <a href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}" class="nk-post-image">
                                            <img src="{{ asset('/uploads/defi/')~defi.imgDefi }}" alt="{{ defi.nomDefi }}" height="100px" width="100px">
                                        </a>
                                        <h3 class="nk-post-title"><a href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}">{{ defi.nomDefi }}</a></h3>
                                        <div class="nk-post-date"><span class="fa fa-calendar"></span> {{ defi.dateDefi|date('Y-m-d H:i:s') }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="nk-widget nk-widget-highlighted">
                            <h4 class="nk-widget-title"><span>Facebook</span></h4>
                            <div class="nk-widget-content">
                                <div class="fb-page" data-href="https://www.facebook.com/Black-Ops-Gaming-103860542214358/?notif_id=1649529986913401&notif_t=page_user_activity&ref=notif" data-width="700" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
                            </div>
                        </div>

                    </aside>
                    <!-- END: Sidebar -->
                </div>
            </div>
        </div>

        <div class="nk-gap-2"></div>

{% endblock %}