{% extends 'Admin_base.html.twig' %}

{% block title %}Joueur index{% endblock %}

{% block content %}
    <h1>Gestion Joueur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdJoueur</th>
                <th>NomJoueur</th>
                <th>RangJoueur</th>
                <th>PseaudoJoueur</th>
                <th>Telephone</th>
                <th>Equipe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.idJoueur }}</td>
                <td>{{ joueur.nomJoueur }}</td>
                <td>{{ joueur.rangJoueur }}</td>
                <td>{{ joueur.pseaudoJoueur }}</td>
                <td>{{ joueur.tel }}</td>
                <td>{{ joueur.idEquipe }}</td>

                <td>
                    <a href="{{ path('app_admin_joueur_show', {'idJoueur': joueur.idJoueur}) }}">show</a>
                    <a href="{{ path('app_admin_joueur_edit', {'idJoueur': joueur.idJoueur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_joueur_new') }}">Create new</a>
{% endblock %}
