{% extends 'Admin_base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block content %}
    <h1>Joueur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdJoueur</th>
                <td>{{ joueur.idJoueur }}</td>
            </tr>
            <tr>
                <th>NomJoueur</th>
                <td>{{ joueur.nomJoueur }}</td>
            </tr>
            <tr>
                <th>RangJoueur</th>
                <td>{{ joueur.rangJoueur }}</td>
            </tr>
            <tr>
                <th>PseaudoJoueur</th>
                <td>{{ joueur.pseaudoJoueur }}</td>
            </tr>
            <tr>
                <th>Equipe </th>
                <td>{{ joueur.idEquipe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_joueur_index') }}">back to list</a>

    <a href="{{ path('app_admin_joueur_edit', {'idJoueur': joueur.idJoueur}) }}">edit</a>

    {{ include('admin_joueur/_delete_form.html.twig') }}
{% endblock %}
