{% extends 'Admin_base.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <h1>Admins index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUser</th>
                <th>Mail</th>
                <th>Username</th>
                <th>Statut</th>
                <th>Image</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.idUser }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.statut }}</td>
                <td><img src="{{ asset('uploads/user_image/')~user.image }}" alt="" width="50px"></td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_user_admin_show', {'idUser': user.idUser}) }}">show</a>
                    <a href="{{ path('app_user_admin_edit', {'idUser': user.idUser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_admin_new') }}">Create new</a>
{% endblock %}
