{% extends 'Admin_base.html.twig' %}

{% block title %}Message index{% endblock %}
{% block content %}


    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdMessage</th>
                <th>DateMessage</th>
                <th>ContenuMessage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.idMessage }}</td>
                <td>{{ message.dateMessage ? message.dateMessage|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ message.contenuMessage }}</td>
                <td>
                    <a href="{{ path('app_admin_message_show', {'idMessage': message.idMessage}) }}">show</a>
                    <a href="{{ path('app_admin_message_edit', {'idMessage': message.idMessage}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_message_new') }}">Create new</a>
{% endblock %}
