{% extends 'Admin_base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('AdminAssets/js/algolia-autocomplete.js') }}"></script>
{#    <script src="{{ asset('js/admin_article_form.js') }}"></script>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('AdminAssets/css/algolia-autocomplete.css') }}">
{% endblock %}

{% block content %}
    <h1>Create new Message</h1>

    {{ include('admin_message/_form.html.twig') }}

    <a href="{{ path('app_admin_message_index') }}">back to list</a>
{% endblock %}
