{% extends 'Admin_base.html.twig' %}

{% block title %}Message{% endblock %}

{% block content %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdMessage</th>
                <td>{{ message.idMessage }}</td>
            </tr>
            <tr>
                <th>DateMessage</th>
                <td>{{ message.dateMessage ? message.dateMessage|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ContenuMessage</th>
                <td>{{ message.contenuMessage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_message_index') }}">back to list</a>

    <a href="{{ path('app_admin_message_edit', {'idMessage': message.idMessage}) }}">edit</a>

    {{ include('admin_message/_delete_form.html.twig') }}
{% endblock %}
