{{ form_start(form , {
    attr:{
        'novalidate':'novalidate'
    }
}) }}
    {{ form_row(form.nomEquipe) }}
    {{ form_row(form.logoEquipe ,{
        attr:{
            'maxlength':'50'
        }
    }) }}
    {{ form_row(form.nbrJoueurEquipe) }}
    {{ form_row(form.JeuV) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
