{% extends 'Admin_base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block content %}
    <h1>Equipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdEquipe</th>
                <th>NomEquipe</th>
                <th>LogoEquipe</th>
                <th>Date</th>
                <th>NbrJoueurEquipe</th>
                <th>Jeu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.idEquipe }}</td>
                <td>{{ equipe.nomEquipe }}</td>
                <td><img src="{{asset('/uploads/equipe/')~equipe.logoEquipe}}" height="100px" width="100px"></td>
                <td>{{ equipe.date ? equipe.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ equipe.nbrJoueurEquipe }}</td>
                <td>{{ equipe.jeuV }}</td>
                <td>
                    <a href="{{ path('app_admin_equipe_show', {'idEquipe': equipe.idEquipe}) }} " class="btn btn-outline-info">show</a>
                    <a href="{{ path('app_admin_equipe_edit', {'idEquipe': equipe.idEquipe}) }}" class="btn btn-outline-dark">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_equipe_new') }}" class="btn btn-outline-success">Ajouter</a>
{% endblock %}
