{% extends 'Admin_base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block content %}
    <h1>Equipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEquipe</th>
                <td>{{ equipe.idEquipe }}</td>
            </tr>
            <tr>
                <th>NomEquipe</th>
                <td>{{ equipe.nomEquipe }}</td>
            </tr>
            <tr>
                <th>LogoEquipe</th>
                <td><img src="{{ asset('uploads/equipe/')~equipe.logoEquipe }}"></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ equipe.date ? equipe.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbrJoueurEquipe</th>
                <td>{{ equipe.nbrJoueurEquipe }}</td>

            <tr>
                <th>Jeu Video</th>
                <td>{{ equipe.jeuV }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_equipe_index') }}"  class="btn btn-outline-success">back to list</a>

    <a href="{{ path('app_admin_equipe_edit', {'idEquipe': equipe.idEquipe}) }}" class="btn btn-outline-dark" >edit</a>

    {{ include('admin_equipe/_delete_form.html.twig')  }}
{% endblock %}
