{% extends 'base.html.twig' %}
{% block content %}
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="index.html">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><span>Teams</span></li>

        </ul>
    </div>

    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-8">
                <br>
                <br>
                <br>
                <span style="color:#0f1316;"> Add Team</span>
                <br>
                <br>
                <br>
                <a href="{{ path('app_client_equipe_add') }}" class="nk-btn nk-btn-rounded nk-btn-color-main-1" style="color: #e0e4e7"> Add Team </a>
                <a href="{{ path('app_client_joueur_new') }}" class="nk-btn nk-btn-rounded nk-btn-color-main-1" style="color: #e0e4e7 ; margin-left: 50px" > become a membre </a>

                <div class="nk-gap-1"></div>
               {% for eq in equipes %} <!-- START: Teams -->
                <div class="nk-team">
                    <div class="nk-team-logo">
                        <img src="{{ asset('uploads/equipe/')~eq.logoEquipe}}" width="100%" height="100%" alt="">
                    </div>
                    <div class="nk-team-cont">
                        <h3 class="h5 mb-20"><span class="text-main-1">Team:</span> {{ eq.nomEquipe }}</h3>
                        <h4 class="h6 mb-5">Members:</h4>
                        {% for j in js %}
                        {% if eq.idEquipe == j.idEquipe.idEquipe %}
                        <a href="{{ path('app_client_joueur_show', {'idJoueur': j.idJoueur})  }}">{{ j.nomJoueur }}</a>,
                        {% endif %}
                        {% endfor %}

                        {% for i in im %}
                        {% if eq.jeuV == i.idJeu %}
                        <div class="nk-team-photo" style="background-image: url('{{ asset('uploads/jeux/')~i.urlImage}}') ;">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>

       <!-- END: Teams -->
   {% endfor %}
            </div>
            <div class="col-lg-4">

                -->
                <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                    <div class="nk-widget">
                        <div class="nk-widget-content">
                            <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type something...">
                                    <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">We</span> Are Social</span></h4>
                        <div class="nk-widget-content">
                            <!--
                                Social Links 3

                                Additional Classes:
                                    .nk-social-links-cols-5
                                    .nk-social-links-cols-4
                                    .nk-social-links-cols-3
                                    .nk-social-links-cols-2
                            -->
                            <ul class="nk-social-links-3 nk-social-links-cols-4">
                                <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                                <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                                <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                                <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
                                <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>

                                <!-- Additional Social Buttons
                                    <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                                    <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                                    <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                                    <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                                    <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                                    <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                                    <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                                    <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                                    <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                                    <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                                    <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                                    <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                                    <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                                    <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                                    <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                                    <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                                    <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                                    <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                                    <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                                    <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                                    <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                                -->
                            </ul>
                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Next</span> Matches</span></h4>
                        <div class="nk-widget-content">
                            {%  for i in ups %}
                                <div class="nk-widget-match">
                                    <a href="#">
                <span class="nk-widget-match-left">
                    <span class="nk-widget-match-teams">
                        <span class="nk-widget-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~i.equipea.logoEquipe}}" alt="">
                        </span>
                        <span class="nk-widget-match-vs">VS</span>
                        <span class="nk-widget-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~i.equipeb.logoEquipe}}" alt="">
                        </span>
                    </span>
                    <span class="nk-widget-match-date">{{ i.idDefi }} - {{ i.date|date('d-m-Y H:i:s') }}</span>

                </span>
                                        <span class="nk-widget-match-right">
                    <span class="nk-match-score">
                        Upcoming
                    </span>
                </span>
                                    </a>
                                    <div class="nk-countdown nk-countdown-center" data-end="{{ i.date |date('Y-m-d H:i')}}" data-timezone="WEST"></div>
                                </div>
                            {% endfor %}
                            {% for l in live %}
                                <div class="nk-widget-match">
                                    <a href="#">
                <span class="nk-widget-match-left">
                    <span class="nk-widget-match-teams">
                        <span class="nk-widget-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~l.equipea.logoEquipe }}" alt="">
                        </span>
                        <span class="nk-widget-match-vs">VS</span>
                        <span class="nk-widget-match-team-logo">
                            <img src="{{ asset('/uploads/equipe/')~l.equipeb.logoEquipe }}" alt="">
                        </span>
                    </span>
                    <span class="nk-widget-match-date">{{ l.idDefi}} - {{ l.date|date('d-m-Y H:i:s') }}</span>
                </span>
                                        <span class="nk-widget-match-right">
                    <span class="nk-match-score bg-dark-1">
                        {{ l.scoreFinale }}
                    </span>
                </span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Top 3</span> Recent</span></h4>
                        <div class="nk-widget-content">
                            {% for defi in defis %}
                                <div class="nk-widget-post">
                                    <a href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}" class="nk-post-image">
                                        <img src="{{ asset('/uploads/defi/')~defi.imgDefi }}" alt="{{ defi.nomDefi }}" height="100px" width="100px">
                                    </a>
                                    <h3 class="nk-post-title"><a href="{{ path('app_client_defi_detail',{'idDefi': defi.idDefi}) }}">{{ defi.nomDefi }}</a></h3>
                                    <div class="nk-post-date"><span class="fa fa-calendar"></span> {{ defi.dateDefi|date('Y-m-d H:i:s') }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span>Facebook</span></h4>
                        <div class="nk-widget-content">
                            <div class="fb-page" data-href="https://www.facebook.com/Black-Ops-Gaming-103860542214358/?notif_id=1649529986913401&notif_t=page_user_activity&ref=notif" data-width="700" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
                        </div>
                    </div>

                </aside>
                <!-- END: Sidebar -->
            </div>
        </div>
    </div>

    <div class="nk-gap-2"></div>
{% endblock %}
