{% if message is defined %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Succé!</strong> {{ message }}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
{{ form_start(form , {
    attr:{
        'novalidate':'novalidate'
    }
}) }}
    {{ form_row(form.npContact,{
        attr:{
            'placeholder':'nom Pseaudo'
        }
    }) }}
{{ form_row(form.mailContact,{
    attr:{
        'placeholder':'Mail à contacter'
    }
}) }}
    {{ form_row(form.message ,{
        attr:{
            'placeholder':'Message',
            'maxlength':'10000'
        }
    }) }}

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}