{% extends 'Admin_base.html.twig' %}

{% block title %}Skin index{% endblock %}
{% block top %}
    {% include 'skeleton/admin_search.html.twig' %}
{% endblock %}
{% block content %}
    <h1>Skin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdSkin</th>
                <th>ImageSkin</th>
                <th>IdChamp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skin in skins %}
            <tr>
                <td>{{ skin.idSkin }}</td>
                <td> <img class="show-img" src="{{ asset(skin.imagePath) }}" width="300" height="200" alt=""></td>

                <td>{{ skin.idChamp }}</td>

                <td>
                    <a href="{{ path('app_admin_skin_show', {'idSkin': skin.idSkin}) }}"class="btn btn-outline-info">show</a>
                    <a href="{{ path('app_admin_skin_edit', {'idSkin': skin.idSkin}) }}"class="btn btn-outline-dark">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_skin_new') }}"class="btn btn-outline-success">Create new</a>
{% endblock %}
