{% extends 'Admin_base.html.twig' %}

{% block title %}Skin index{% endblock %}

{% block content %}
    <h1>Skin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdSkin</th>
                <th>ImageSkin</th>
                <th>IdChamp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skin in skins %}
            <tr>
                <td>{{ skin.idSkin }}</td>
                <td>{{ skin.imageSkin }}</td>
                <td>{{ skin.idChamp }}</td>

                <td>
                    <a href="{{ path('app_admin_skin_show', {'idSkin': skin.idSkin}) }}">show</a>
                    <a href="{{ path('app_admin_skin_edit', {'idSkin': skin.idSkin}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_skin_new') }}">Create new</a>
{% endblock %}
