{% extends 'Admin_base.html.twig' %}

{% block title %}Skin{% endblock %}

{% block content %}
    <h1>Skin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSkin</th>
                <td>{{ skin.idSkin }}</td>
            </tr>
            <tr>
                <th>ImageSkin</th>
                <td>{{ skin.imageSkin }}</td>
            </tr>
            <tr>
                <th>IdChamp</th>
                <td>{{ skin.idChamp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_skin_index') }}">back to list</a>

    <a href="{{ path('app_admin_skin_edit', {'idSkin': skin.idSkin}) }}">edit</a>

    {{ include('admin_skin/_delete_form.html.twig') }}
{% endblock %}
