{% extends 'Admin_base.html.twig' %}

{% block title %}VideoUploade index{% endblock %}

{% block content %}
    <h1>VideoUploade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdVdeo</th>
                <th>NomVideo</th>
                <th>DateVideo</th>
                <th>DescriptionVideo</th>
                <th>UrlVideo</th>
                <th>IdSouscat</th>
                <th>IdCl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video_uploade in video_uploades %}
            <tr>
                <td>{{ video_uploade.idVdeo }}</td>
                <td>{{ video_uploade.nomVideo }}</td>
                <td>{{ video_uploade.dateVideo ? video_uploade.dateVideo|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video_uploade.descriptionVideo }}</td>
                {% if video_uploade.urlVideo %}
                    <td>{{ video_uploade.urlVideo }}</td>
                {% else %}
                    <td><a href="{{ path('app_admin_video_uploade_video', {'idVdeo': video_uploade.idVdeo}) }}" class="btn-sm btn-success">upload</a></td>
                {% endif %}
                <td>{{ video_uploade.idSouscat }}</td>
                <td>{{ video_uploade.idCl }}</td>
                <td>
                    <a href="{{ path('app_admin_video_uploade_show', {'idVdeo': video_uploade.idVdeo}) }}">show</a>
                    <a href="{{ path('app_admin_video_uploade_edit', {'idVdeo': video_uploade.idVdeo}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_video_uploade_new') }}">Create new</a>
{% endblock %}
