{% extends 'base.html.twig' %}

{% block title %}Hello ClientCommandeController!{% endblock %}
{% block content %}

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <h2>liste des produits</h2>
            <div class="float-right">
                <a href="" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </a>
            </div>
            {% for msg in app.session.flashBag.get('success') %}
                <div class="col-lg-8 alert alert-success">
                    le Produit <strong>{{ msg }}</strong> est ajouté au panier
                </div>
            {% endfor %}
            {#            {% if message is defined %}#}
            {#                <div class="alert alert-success alert-dismissible fade show" role="alert">#}
            {#                    le Produit <strong>{{ message }}</strong> est ajouté au panier!#}
            {#                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
            {#                        <span aria-hidden="true">&times;</span>#}
            {#                    </button>#}
            {#                </div>#}
            {#                <br>#}
            {#                <hr>#}
            {#            {% endif %}#}
            {% for d in defis %}
                <div class="row">
                    <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                        <h3>{{ d.nomDefi }}</h3>
                        <img src="{{ asset('assets/uploads/produit/'~d.imgDefi) }}">
                        <p class="fst-italic">
                            Prix: <strong>{{ d.prixDefi }}</strong>
                        </p>

                        <p class="fst-italic">
                            nombre equipe: <strong>{{ d.nbrEquipeDefi }}</strong><a href="{{ path('app_client_add_ligne_commande', {'id': p.idProduit}) }}" class="btn-sm btn-info float-right">ajouter au panier</a>
                        </p>

                        <hr>

                    </div>
                </div>
                <br>
            {% endfor %}

        </div>
    </section><!-- End About Section -->
{% endblock %}
