{{ form_start(form , {
    attr:{
        'novalidate':'novalidate'
    }
}) }}
    {{ form_row(form.nomChamp) }}
    {{ form_row(form.descriptionChamp ,{
        attr:{
            'maxlength':'50'
        }
    }) }}
    {{ form_row(form.roleChamp) }}
    {{ form_row(form.difficulteChamp) }}
    {{ form_row(form.imageChamp,{
        attr:{
            'maxlength':'255'
        }}) }}
    {{ form_row(form.idJeu) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
