{% extends 'Admin_base.html.twig' %}

{% block title %}Champion index{% endblock %}

{% block content %}
    <h1>Champion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdChamp</th>
                <th>NomChamp</th>
                <th>DescriptionChamp</th>
                <th>RoleChamp</th>
                <th>DifficulteChamp</th>
                <th>ImageChamp</th>
                <th>Idjeu</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for champion in champions %}
            <tr>
                <td>{{ champion.idChamp }}</td>
                <td>{{ champion.nomChamp }}</td>
                <td>{{ champion.descriptionChamp }}</td>
                <td>{{ champion.roleChamp }}</td>
                <td>{{ champion.difficulteChamp }}</td>
                <td>{{ champion.imageChamp }}</td>
                <td>{{ champion.idJeu }}</td>
                <td>
                    <a href="{{ path('app_admin_champion_show', {'idChamp': champion.idChamp}) }}">show</a>
                    <a href="{{ path('app_admin_champion_edit', {'idChamp': champion.idChamp}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_champion_new') }}">Create new</a>
{% endblock %}
