{% extends 'Admin_base.html.twig' %}

{% block title %}Champion{% endblock %}

{% block content %}
    <h1>Champion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdChamp</th>
                <td>{{ champion.idChamp }}</td>
            </tr>
            <tr>
                <th>NomChamp</th>
                <td>{{ champion.nomChamp }}</td>
            </tr>
            <tr>
                <th>DescriptionChamp</th>
                <td>{{ champion.descriptionChamp }}</td>
            </tr>
            <tr>
                <th>RoleChamp</th>
                <td>{{ champion.roleChamp }}</td>
            </tr>
            <tr>
                <th>DifficulteChamp</th>
                <td>{{ champion.difficulteChamp }}</td>
            </tr>
            <tr>
                <th>ImageChamp</th>
                <td>{{ champion.imageChamp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_champion_index') }}">back to list</a>

    <a href="{{ path('app_admin_champion_edit', {'idChamp': champion.idChamp}) }}">edit</a>

    {{ include('admin_champion/_delete_form.html.twig') }}
{% endblock %}
