<!DOCTYPE html>
<html lang="en">
	<head>

		<title>{% block title %}{% endblock %}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/sweetalert2.min.css') }}">
			<link
					href="{{ asset('AdminAssets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Font Awesome -->
		<link
		href="{{ asset('AdminAssets/vendors/font-awesome/css/font-awesome.min.css')  }}" rel="stylesheet">
		<!-- NProgress -->
		<link
		href=" {{ asset('AdminAssets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
		<!-- FullCalendar -->
		<link href=" {{ asset('AdminAssets/vendors/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
		<link
		href="{{ asset('AdminAssets/vendors/fullcalendar/dist/fullcalendar.print.css') }}" rel="stylesheet" media="print">
			{{ encore_entry_link_tags('app') }}
		<!-- Custom styling plus plugins -->
		<link href="{{ asset('AdminAssets/css/custom.min.css') }}" rel="stylesheet">
			<link href="{{ asset('AdminAssets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
			<!-- Dropzone.js -->
			<link href="{{ asset('AdminAssets/vendors/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet">
		{% endblock %}

	</head>
	<body class="container body nav-md">
	<div class="container body">
		<div class="main_container">
		{% block header %}
			{% include 'skeleton/Admin_nav.html.twig' %}
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left" style="color: #F7F7F7">
							<h3>Calendar <small>Click to add/edit events</small></h3>
						</div>
						{% block top %}{% endblock %}
					</div>


				</div>
				<br>

				{% block content %}

				{% endblock %}
			</div>

		</div>
	</div>

		{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		<!-- jQuery -->
		<script src=" {{ asset('AdminAssets/vendors/jquery/dist/jquery.min.js') }}"></script>
		<!-- Bootstrap -->
		<script src="{{ asset('AdminAssets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
		<!-- FastClick -->
		<script src="{{ asset('AdminAssets/vendors/fastclick/lib/fastclick.js') }}"></script>
		<!-- NProgress -->
		<script src="{{ asset('AdminAssets/vendors/nprogress/nprogress.js') }}"></script>


		<!-- Dropzone.js -->
		<script src="{{ asset('AdminAssets/vendors/dropzone/dist/min/dropzone.min.js') }}"></script>

		<!-- Custom Theme Scripts -->
		<script src="{{ asset('AdminAssets/js/custom.min.js') }}"></script>
		<script>
			$('.dropdown-toggle').dropdown();
			$('.custom-file-input').on('change', function(event) {
				var inputFile = event.currentTarget;
				$(inputFile).parent()
						.find('.custom-file-label')
						.html(inputFile.files[0].name);
			});
		</script>
		<script src="{{ asset('assets/js/sweetalert2.all.min.js') }}"></script>
		<script src="{{ asset('assets/js/sweetalert2.min.js') }}" ></script>
	{% endblock %}
	</body>

</html>
