{% extends 'Admin_base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block content %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCommande</th>
                <th>DateCommande</th>
                <th>EtatCommande</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.idCommande }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.etatCommande }}</td>
                <td>
                    <a href="{{ path('app_admin_commande_show', {'idCommande': commande.idCommande}) }}">show</a>
                    <a href="{{ path('app_admin_commande_edit', {'idCommande': commande.idCommande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_commande_new') }}">Create new</a>
{% endblock %}
