{{ form_start(form , {
    attr:{
        'novalidate':'novalidate'
    }
}) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.description ,{
        attr:{
            'maxlength':'255'
        }
    }) }}
    {{ form_row(form.url) }}

{{ form_row(form.idSouscat) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
