{% extends 'Admin_base.html.twig' %}

{% block title %}Jeu index{% endblock %}
{% block top %}
    {% include 'skeleton/admin_search.html.twig' %}
{% endblock %}
{% block content %}
    <h1>Jeu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdJeu</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Url</th>
                <th>idSouscat</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for jeu in jeus %}
            <tr>
                <td>{{ jeu.idJeu }}</td>
                <td>{{ jeu.nom }}</td>
                <td>{{ jeu.description }}</td>
                <td>{{ jeu.url }}</td>
                <td>{{ jeu.idSouscat }}</td>

                <td>

                    <a href="{{ path('app_admin_jeu_show', {'idJeu': jeu.idJeu}) }}" class="btn btn-outline-info">show</a>

                    <a href="{{ path('app_admin_jeu_edit', {'idJeu': jeu.idJeu}) }}"class="btn btn-outline-dark">edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_admin_jeu_new') }}" class="btn btn-outline-success">Create new</a>
{% endblock %}
